@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-noto: "Noto Sans JP", sans-serif;
  --font-indie: "Indie Flower", cursive;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP/NotoSansJP-VariableFont_wght.woff2")
    format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Indie Flower";
  src: url("https://fonts.google.com/share?selection.family=Indie+Flower");
  font-weight: 100 900;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
